.team-roster__img {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: center;
}

.team-roster__img a img {
  max-height: 70%;
  max-width: 70%;
  margin: auto;
}

.team-roster--grid-sm .team-roster__content {
  padding: 24px 24px;
  min-width: 0;
  background-image: -webkit-linear-gradient(left, #e2e3e8, #ffffff);
  background-image: -o-linear-gradient(left, #e2e3e8, #ffffff);
  background-image: linear-gradient(to left, #e2e3e8, #ffffff);
}

.team-roster--grid-sm .team-roster__member-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: left;
  flex-direction: column;
}

.team-roster--grid-sm .team-roster__member-name {
  max-width: 210px;
}

.team-roster__member-number .pre {
  color: #888 !important;
}

.team-roster--grid-sm .team-roster__member-number {
  font-size: 32px;
}

.team-roster--grid-sm .team-roster__member-name {
  margin-top: 10px;
}

.team-roster--grid-sm .team-roster__member-last-name {
  white-space: normal;
  font-size: 18px;
}

.team-roster--grid-sm .team-roster__item {
  width: 360px;
  margin: 0 auto 20px;
}

.team-roster--grid-sm .team-roster__holder {
  height: 215px;
}

/*.team-roster--grid-sm .team-roster__img {*/
  /*height: 140px;*/
/*}*/
.product__bg-letters {
  display: block;
  position: absolute;
  left: -1.50em;
  top: -0.2em;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -0.03em;
  color: #fff;
  opacity: .1;
  font-size: 200px;
  pointer-events: none;
}

.product__slide-img {
  width: 200px !important;
  height: 200px !important;
  display: flex !important;
  background: #ffffffC4 !important;
  padding: 5% !important;
  border-radius: 20% !important;
  border: 5px #ffffff solid !important;
}

.product__slide-img img {
  max-width: 95% !important;
  max-height: 95% !important;
  margin: auto !important;
}

.product__category {
  font-size: 29px;
  margin-bottom: .4em;
  font-weight: bold;
}

a.btn.btn-primary.btn-icon.product__add-to-cart {
  color: #383838;
  background-color: #ffdc11;
  font-size: 14px;
}

.product__item--color-7 {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#6f7074), to(#2a2c32));
  background-image: -webkit-linear-gradient(right bottom, #6f7074, #2a2c32);
  background-image: -o-linear-gradient(right bottom, #6f7074, #2a2c32);
  background-image: linear-gradient(to left top, #6f7074, #2a2c32);
}

.posts__title {
  color: #fff;
}

.details {
  padding: 60px;
  background: #fff;
}

.details p {
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body.modal-open {
  overflow: visible;
}

.telegram-btn {
  background-color: #0088cc;
  color: #fff;
  padding: 2px 10px 4px;
  border-radius: 5px;
  font-size: 12px;
}

.spinner {
  margin: 0;
  width: 54px;
  text-align: center;
  display: inline-block;
}

.spinner > div {
  width: 10px;
  height: 10px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.ripple-holder {
  text-align: center;
  margin: 100px auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 96px;
  height: 96px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 42px;
    left: 42px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 87px;
    height: 87px;
    opacity: 0;
  }
}

.no-betting td {
  font-weight: 300;
  font-size: 20px !important;
}

.no-betting-logo {
  background: url('./images/logo-dark.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
}

.claim-result th,
.claim-result td {
  max-width: 160px;
  overflow: auto;
}
