/*
// #Content
// --------------------------------------------------
*/

.site-content {
  padding: 30px 0;

  &.white {
    background: #fff;

    .btn-outline.btn-inverse {
      border-color: $color-dark-lighten;
      color: $color-dark-lighten;
      border-width: 2px;

      &:hover {
        border-color: $color-primary-darken;
      }
    }
  }

  &.grey {
    background: #2a2c32;
    p, h1, h2, h3, h4, h5, h6, li {
      color: #fff;
    }

    &.highlights {
      h1, h2, h3, h4, h5, h6 {
        color: $color-primary
      }
    }
  }

  &.black {
    background: #1e2024;
    p, h1, h2, h3, h4, h5, h6, li {
      color: #fff;
    }

    &.highlights {
      h1, h2, h3, h4, h5, h6 {
        color: $color-primary
      }
    }
  }

  &.light-grey {
    background: #eff4f8;
    p, h1, h2, h3, h4, h5, h6, li {
      color: #2a2c32;
    }
  }

  &.home {
    .container {
      margin-top: 30px;
    }
  }

  @media (min-width: 992px) {
    padding: 60px 0;
  }

  .description {
    font-size: 22px;
    font-family: $font-family-accent;
    font-weight: 200;
    color: #2c2c2c;
    line-height: 1.5;

    span {
      font-weight: 600;
    }

    &.sub {
      font-size: 20px;
    }

  }

  .highlight-red {
    color: #c12a2e !important;
  }
}

.unique {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @media (min-width: 992px) {
    flex-direction: row;
    text-align: left;
  }
}

.steps {
  counter-reset: steps;

  dt {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    padding:0;
  }

  dt, dd {
    padding-left: 50px;
    color: #000;
  }

  dd {
    margin-bottom: 50px;
  }

  dt:before {
    content: counter(steps);
    counter-increment: steps;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    color: #c12a2e;
  }
}

.header-component {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  /*visibility: hidden;*/

  .header-logo, .pushy-panel__toggle {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .header__primary-inner,
  .header__primary,
  .header__primary-inner::before,
  .header__primary::after,
  &.header {
    transition: 0.5s;
    background: transparent;
  }

  &.show {
    .header-logo, .pushy-panel__toggle {
      opacity: 1;
      visibility: visible;
    }

    .header__primary, .header, .header__primary-inner::before,
    .header__primary-inner, .header__primary::after {
      background: #1e2024;
    }

    //.header__primary-inner, .header__primary::after {
    //  background: #292c31;
    //}
  }
}

.icon img {
  width: 30%;
  margin-bottom: 20px;
}

.btn-black {
  background: #000 !important;
  border-color: #000 !important;
}

.filter-team {
  margin-bottom: 20px;

  input {
    border-radius: 15px;
  }
}

.highlight-deposit-text {
  color: $color-primary;
  font-weight: bold;
}

.light-table {
  background: #eff4f8;
}

.accordion__title {
  background-color: #eff4f8;

  &:hover {
    background-color: #eff4f8;
  }

  &:focus {
    outline: none;
  }
}

.accordion__body {
  font-family: $font-family-accent;
  line-height: 1.8;
  font-size: 18px;
}
