/*
// #Hero Unit
// --------------------------------------------------
*/


.hero-unit {
  margin-top: -60px;
  background:linear-gradient(0deg, rgba(193, 42, 46, 0.75), rgb(0, 0, 0)) ,url("../images/stadium.jpg");
  //background: #27313b url("../images/stadium.jpg") 50% 0 no-repeat;
  background-size: cover;

  // Parallax effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  .logo {
    visibility: hidden;
  }

  .call-to-action {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: fit-content;
    max-width: 90%;
    margin: auto;
    background-color: #0000007d;
    padding: 15px 10px;
    border-radius: 10px;

    @media (min-width: 321px) {
      padding: 20px 15px;
    }

    @media (min-width: 992px) {
      top: 70%;
      padding: 30px 20px;
    }

    h3 {
      color: #fff;
      text-transform: none;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 0;

      @media (min-width: 321px) {
        font-size: 22px;
      }

      @media (min-width: 415px) {
        font-size: 24px;
        margin-bottom: 18px;
      }

      span {
        color: $color-primary-darken
      }
    }

    .highlight {
      background: $color-primary;
      font-size: 12px;
      padding: 6px 20px;
      color: #000;
      display: block;
      margin: 5px auto;
      border: none;

      @media (min-width: 321px) {
        font-size: 14px;
      }

      @media (min-width: 415px) {
        font-size: 16px;
        padding: 8px 25px;
        margin: 10px auto;
      }

      @media (min-width: 992px) {
        display: inline-block;
        margin: auto 10px;
        padding: 10px 30px;
      }

      &.soon {
        background: #fff;

        .timer {
          background: tomato;
          padding: 3px 6px;
          color: #fff;
          border-radius: 5px;
          margin: auto 5px;
          text-transform: none;
          font-weight: 600;

          span {
            font-weight: 600;
            margin-right: 2px;
          }

          @media (min-width: 415px) {
            padding: 4px 8px;
          }
        }
      }

      &:hover {
        background: $color-primary-darken;

      }
    }
  }

  @media (min-width: 992px) {
    margin-top: -62px;
    .logo {
      visibility: visible;
      width: 35%;
      margin: 20px auto;
    }
  }
}
.hero-unit__content--left-center {
  text-align: center;

  @media (min-width: 992px) {
    width: 50%;
  }
}
.hero-unit__container {
  height: 100vh;
  position: relative;

  @media (max-width: 803px) and (orientation:landscape) {
    height: 200vh;
  }

  .category {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #9A9A9A;
  }

  .category-absolute {
    position: absolute;
    top: 100vh;
    margin-top: -60px;
    padding: 0 15px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);

    @media (max-width: 803px) and (orientation:landscape) {
      top: 200vh;
    }
  }

  .telegram,
  .telegram:hover,
  .telegram:focus {
    color: #0088cc;
    margin-left: 10px;
  }

}
.hero-unit__content {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;

  @media (min-width: 992px) {
    top: 50%;
  }
}
// Title
.hero-unit__title {
  color: #fff;
  margin-bottom: 0.75em;
  font-size: 30px;

  @media (min-width: 1199px) {
    font-size: 64px;
    margin-bottom: 0.25em;
  }
}

// Subtitle
.hero-unit__subtitle {
  color: #fff;
  margin-bottom: 0.25em;
  font-size: 12px;

  @media (min-width: 992px) {
    font-size: 18px;
  }
}

// Description
.hero-unit__desc {
  margin-bottom: 3em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: $font-family-accent;
  color: #fff;
  font-weight: 200;
  line-height: 1.4;

  @media (min-width: 321px) {
    font-size: 24px;
  }

  @media (min-width: 415px) {
    font-size: 28px;
  }

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 992px) {
    width: 80%;
  }

  @media (min-width: 1199px) {
    width: 70%;
  }
}

// Button
.hero-unit__btn {

}

// Decoration (stars)
.hero-unit__decor {
  display: block;
  color: #ffdc11;
  margin-bottom: 5px;

  @media (min-width: 992px) {
    margin-bottom: 11px;
  }

  .fa {
    margin: 0 6px;
  }
}

// Images
.hero-unit__img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50%;

  img {
    max-height: 100%;
  }

  // Hide image on tablets and mobile devices
  @media (max-width: 991px) {
    display: none;
  }
}

.show-auth {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.hide-auth {
  opacity: 0;
  visibility: hidden;
  margin-top: -30vh;
}

.call-to-action {
  margin-top: 20px;
  
  @media (max-width: 415px) {
    margin-top: 10px;
    div {
      margin: 0 !important;
      .btn {
        padding: 9px 36px;
        font-size: 12px;
      }
    }
  }

  
  h3 {
    color: #fff;
    text-transform: none;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;

    @media (min-width: 321px) {
      font-size: 22px;
    }

    @media (min-width: 415px) {
      font-size: 24px;
    }

    span {
      color: $color-primary-darken
    }
  }

  .highlight {
    background: $color-primary;
    font-size: 12px;
    color: #000;
    display: block;
    margin: 5px auto;
    border: none;

    @media (min-width: 321px) {
      font-size: 14px;
    }

    @media (min-width: 415px) {
      font-size: 16px;
    }

    @media (min-width: 992px) {
      display: inline-block;
    }

    &.soon {
      background: #fff;
    }

    &:hover {
      background: $color-primary-darken;

    }
  }
}
