#container {
  height: 100vh;
  position: relative;
  z-index: 2;

  @media (max-width: 803px) and (orientation:landscape) {
    height: 150vh;
  }

  .logo {
    width: 90%;
    margin: 20px auto;
    display: none;
  }

  .learn-more {
    display: none;
  }

  .desc {
    text-align: center;
  }

  @media (min-width: 992px) {
    .logo {
      display: inline-block;
    }

    .learn-more {
      display: inline-block;
    }

    .desc {
      text-align: left;
    }
  }
}


section.header  {
  &:not(.coming) {
    margin-top: -50px;
  }

  background-color: rgba(75, 45, 157, 1);
  background: linear-gradient(0deg, rgba(193, 42, 46, 0.75), rgb(0, 0, 0)), url("../images/stadium.jpg");
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .bottom {
    display: none;
  }

  @media (min-width: 992px) {
    &:not(.coming) {
      margin-top: -62px;
    }

    .bottom {
      display: block;
      width: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      bottom: 0px;
      padding-bottom: 3rem;
      font-size: 1.4rem;
      font-weight: 300;
      color: rgba(207, 223, 242, 1);
      font-family: $font-family-accent;

      a {
        display: inline-block;
        color: #fff;
        font-weight: 600;
        padding-left: 1.2rem;
        line-height: 3rem;
      }
    }
  }
}


main > section {
  padding: 8.5rem 0;
}

@media only screen and (min-width: 768px) {
  .banner-content {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
  }
}

.left-main {
  margin-top: 60px;

  .desc {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-family: $font-family-accent;
  }


  @media (min-width: 992px) {
    margin-top: 0;
    padding-right: 1.5rem;
  }
}

@media only screen and (min-width: 400px) {
  br.space-to-br {
    content: ' ';
    display: none;
  }
}


section p.desc {
  font-weight: 400;
  font-size: 1.85rem;
}

.color-white {
  color: #fff;
}

.btn.btn-white {
  background-color: #fff;
}

@media only screen and (min-width: 1025px) {
  .right-main {
    padding-left: 4rem;
  }
}


#countdown {
  display: flex;
  margin-top: 1.3px;

  dl:not(:last-child) {
    margin-right: 0.8rem;
  }

  dl {
    background-color: #ffffff1c;
    border-radius: 1rem;
    display: inline-block;
    width: calc(100% / 4);
    padding: 0.6rem;
    margin-bottom: 0;
  }

  dl dt {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #fff;
    line-height: 1;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  dl dd {
    font-size: 0.5rem;
    line-height: 1.2;
    color: #cfdff2;
    margin-bottom: 0;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 0.8rem;
    }
  }
}

form.newsletter-form {
  display: flex;
  position: relative;
  width: 100%;

  input[type="text"] {
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    -webkit-appearance: none;
    background-color: #fff;
    color: #757575;
    transition: 0.3s all;
    width: 70%;
    flex-grow: 1;
    z-index: 2;
    padding: 0 3rem;
    font-size: 1rem;
  }

  button {
    flex-grow: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1;
    font-size: 1.6rem;
  }
}

button[type="submit"] {
  position: relative;
}

button[type="submit"] > span:first-of-type {
  transition: 0.3s opacity;
}

.countdown-text {
  margin-top: 1.3rem;
  font-weight: 600;
  color: #fff;
}

.countdown-box {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 2.3rem;
  background-color: #00000080;

  @media (min-width: 768px) {
    padding: 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 2rem;
  }

  h2 {
    font-size: 1rem;
    letter-spacing: 0.3px;

    @media (min-width: 992px) {
      font-size: 1.3rem;
    }
  }

  h4 {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    font-weight: 400;

    @media (min-width: 992px) {
      font-size: 1.2rem;
    }
  }

  .btn {
    font-size: 1rem;
  }
  form {
    padding-top: 1rem;
  }

  p {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  a {
    color: rgba(18,241,252,1);
    text-decoration: underline;
  }

}

.social {
  margin-top: 30px;

  h4 {
    margin-bottom: 5px;
  }
}


.social-share {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
}

/*.join-telegram {*/
/*background: url(../images/social_icons/telegram-normal.svg) no-repeat left center;*/
/*}*/
