.address {
  font-size: 15px;
  background: #f9f9f9;
  color: #000;
  font-family: $font-family-accent;
  text-align: center;
  padding: 17px;
  border-radius: 4px;
  border: 1px solid #f9f9f9;
}

.transaction {
  .card__header {
    &:before {
      display: none;
    }
  }
}

.transaction-row td {
  font-size: 14px !important;
}

.btn-custom {
  background-color: #fff;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 15px;
}
