.team-list {
  min-width: 340px;
}
.team-card {
  display: flex;
  position: relative;
  height: 200px;
  max-width: 340px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 30px;
  font-family: $font-family-accent;
  box-shadow: 1px 1px 10px;

  .card-logo {
    background: #000;
    width: 80px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    img {
      max-width: 180%;
      transform: rotate(270deg) translate(-83px, -31px);
    }
  }

  .football-card-bg {
    background-color: #8CC63F;
  }
  .cricket-card-bg {
    background-color: #FBB03B;
  }

  .sport-title {
    width: 30px;
    z-index: 1;

    h4 {
      transform: rotate(270deg) translate(-105px, -3px);
      margin: auto;
      font-size: 16px;
      color: #000;
    }
  }

  .body {
    padding: 15px;
    width: 230px;
    background: url("../images/eth.png");
    background-repeat: no-repeat;
    background-position: top 10px right 10px;
    background-size: 80px;

    .title {
      font-size: 24px;
      font-weight: 800;

      span {
        color: $color-primary
      }
    }

    .sub-title {
      font-size: 19px;
      color: #000;
      font-weight: 500;
      margin-top: 5px;

      &:before {
        content: 'SportEther ';
        font-weight: 700;
        color: #999da1;
      }
    }

    .buy {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50px;
      background-color: #888;
      width: 67.55%;
      border-bottom-right-radius: 30px;

      .off {
        position: absolute;
        top: -35px;
        right: -21px;
        display: block;
        color: #424242;
        font-size: 14px;
      }

      .price {
        left: 0;
        position: absolute;
        border: none;
        width: 50%;
        height: 100%;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #f3f3f3;
        font-size: 18px;
        text-align: center;
        line-height: 2.7;
        color: #000;

        &:before {
          content: '0.02 ETH';
          position: absolute;
          left: 15px;
          top: -35px;
          font-size: 14px;
          color: #989da1;
          text-decoration: line-through;
        }
      }

      .token-balance {
        right: 0;
        position: absolute;
        border: none;
        width: 50%;
        height: 100%;
        border-bottom-right-radius: 30px;
        color: #000;

        span {
          text-transform: uppercase;
          font-weight: 800;
          text-align: center;
          line-height: 3;
          margin-left: 20px;
          font-size: 20px;

          &:before {
            content: 'Available';
            position: absolute;
            top: 10px;
            font-weight: 600;
            font-size: 10px;
            line-height: 1;
            left: 20px;
            color: #fff;
          }
        }
      }

      //.price-label {
      //
      //}

      button{
        right: 0;
        position: absolute;
        border: none;
        width: 50%;
        height: 100%;
        border-bottom-right-radius: 30px;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }


}

.buy-modal {
  .team-card {

  }
}

.token-unit {
  width: 75%;
  margin: 20px auto;
}
